# Final Project - Data Preparation

- INFO 5871-001
- Keke Wu
- Fall 2019

In [1]:
import pandas as pd
import numpy as np 
import matplotlib

### Import Datasets

Make dataframes for both csv files and drop the duplicates in demographics by user_id .

In [2]:
response_df = pd.read_csv('response.csv')
demographics_df = pd.read_csv('demographics.csv')
demographics_df = demographics_df.drop_duplicates(subset='user_id',keep='last')
response_df.shape

(1716, 8)

### Data Cleaning

##### 1. Merge dataframes on "user_id".

In [3]:
cc_df = pd.merge(response_df, demographics_df, on='user_id')
print(cc_df.shape)

(1716, 19)

##### 2. Check on the data with the "groupby" method on 'user_id',  there should be 39 trials for each participant.

In [4]:
cc_df.groupby('user_id').size()

user_id
2     39
3     39
5     39
6     39
7     39
8     39
9     39
10    39
11    39
12    39
13    39
14    39
15    39
16    39
17    39
19    39
20    39
21    39
22    39
23    39
24    39
26    39
27    39
28    39
30    39
33    39
34    39
35    39
37    39
38    39
39    39
42    39
43    39
44    39
45    39
46    39
47    78
49    39
50    39
52    39
53    39
54    39
55    39
dtype: int64

##### 3. Something went wrong for the subject with id 47, who seemed to have done this study twice, drop their second result.

In [5]:
user47 = cc_df[cc_df['user_id']==47]
user47 = user47.drop_duplicates(subset='trial_number',keep='first')

In [6]:
df = cc_df[cc_df["user_id"] != 47]
df.shape

(1638, 19)

In [7]:
cc_df = pd.concat([df, user47], ignore_index=True)
print(cc_df.shape)
cc_df.head()

(1677, 19)

,user_id,vis_type,model_type,color_ramp_index,target_value,selected_value,aesthetic_rating,trial_number,age,occupation,gender,normal_vision,cdv,hours_per_day_on_computer,education,display_type,display_size_inches,design_experience,comments
0,2,choropleth,engagement,0,8,8,1,0,30,Service Designer,Male,yes,no,6,graduateStudies,phone,4,8,NaN
1,2,heatmap,designer,1,6,6,0,1,30,Service Designer,Male,yes,no,6,graduateStudies,phone,4,8,NaN
2,2,scatter,designer,8,5,3,-20,2,30,Service Designer,Male,yes,no,6,graduateStudies,phone,4,8,NaN
3,2,choropleth,linear,21,8,8,27,3,30,Service Designer,Male,yes,no,6,graduateStudies,phone,4,8,NaN
4,2,choropleth,designer,11,6,6,24,4,30,Service Designer,Male,yes,no,6,graduateStudies,phone,4,8,NaN

##### 4. Check on the normal_vision column, drop "no" if there is any.

In [8]:
cc_df[cc_df['normal_vision']=='no']

,user_id,vis_type,model_type,color_ramp_index,target_value,selected_value,aesthetic_rating,trial_number,age,occupation,gender,normal_vision,cdv,hours_per_day_on_computer,education,display_type,display_size_inches,design_experience,comments
351,12,scatter,bayesian,17,8,8,0,0,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
352,12,heatmap,designer,7,2,3,0,1,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
353,12,heatmap,kmeans,25,5,6,0,2,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
354,12,choropleth,kmeans,10,4,4,0,3,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
355,12,choropleth,kmeans,11,5,5,0,4,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
356,12,scatter,kmeans,19,0,0,0,5,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
357,12,heatmap,designer,0,5,5,0,6,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
358,12,choropleth,bayesian,14,5,4,0,7,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
359,12,heatmap,linear,1,3,2,0,8,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
360,12,choropleth,linear,2,1,1,0,9,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
361,12,choropleth,linear,23,3,3,0,10,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
362,12,scatter,designer,11,1,1,0,11,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
363,12,heatmap,bayesian,23,7,6,0,12,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
364,12,choropleth,designer,19,3,3,0,13,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
365,12,choropleth,linear,0,6,5,0,14,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
366,12,heatmap,designer,1,8,8,0,15,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
367,12,scatter,designer,13,7,7,0,16,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
368,12,heatmap,linear,10,6,5,0,17,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
369,12,heatmap,kmeans,23,2,2,0,18,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
370,12,heatmap,linear,26,0,0,0,19,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
371,12,choropleth,bayesian,26,2,3,0,20,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
372,12,heatmap,engagement,0,8,8,0,21,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
373,12,choropleth,kmeans,13,6,5,0,22,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
374,12,scatter,bayesian,12,5,5,0,23,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
375,12,scatter,designer,2,2,2,0,24,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
376,12,choropleth,bayesian,6,2,3,0,25,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
377,12,scatter,linear,12,2,2,0,26,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
378,12,choropleth,designer,5,8,8,0,27,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
379,12,scatter,kmeans,8,1,1,0,28,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
380,12,scatter,engagement,0,8,8,0,29,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
381,12,scatter,linear,6,5,3,0,30,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
382,12,heatmap,bayesian,0,4,4,0,31,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
383,12,choropleth,engagement,0,8,8,0,32,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
384,12,scatter,bayesian,19,6,6,0,33,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
385,12,scatter,linear,11,0,0,0,34,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
386,12,heatmap,kmeans,0,1,1,100,35,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
387,12,scatter,kmeans,5,7,7,0,36,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
388,12,heatmap,bayesian,10,3,4,0,37,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN
389,12,choropleth,designer,22,7,6,0,38,27,NaN,Female,no,no,9,collegeGraduate,desktop,27,3,NaN

In [9]:
cc_df = cc_df[cc_df.user_id != 12]

##### 5. Drop entries for engagement check

In [10]:
cc_df = cc_df[cc_df.model_type != 'engagement']

In [11]:
cc_df.shape

(1512, 19)

### Export Dataframe as CSV

In [12]:
cc_df.to_csv('cc.csv')